cli/docs/** linguist-vendored
client/docs/** linguist-vendored
server/docs/** linguist-vendored
doxygen-awesome-css/** linguist-vendored
CMakeLists.txt linguist-vendored

analyze_all.sh linguist-vendored
analyze_cli.sh linguist-vendored
analyze_client.sh linguist-vendored
analyze_server.sh linguist-vendored
server/scripts/build-sdk.sh linguist-vendored

**/debian/** linguist-vendored
**/scripts/** linguist-vendored
**/build-scripts/** linguist-vendored

**/postinst linguist-vendored
**/preinst linguist-vendored
**/prerm linguist-vendored
**/postrm linguist-vendored
**/configure linguist-vendored
**/config.status linguist-vendored

*.sh linguist-vendored
*.bash linguist-vendored
